body{
    height: 100%;
}
.container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
a{
    text-decoration: none;
    color: #131B23;
}
.principal{
    margin-top: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1;
}
.coluna{
    flex-direction: column;
}

.video{
    margin-right: 100px;
    margin-left: 60px;
    width: 550px;
    height: 350px;
    border-radius: 60px;
}
.video video{
    width: 550px;
    height: 350px;
}
.perfil{
    display: flex;
    background-color: #71b7da;
    width: 550px;
    height: 100px;
    border-radius: 60px;
    align-items: center;
    justify-content: center;
    gap: 40%;
    border: #336fa1 3px solid;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}
.pagamento{
    display: flex;
    margin-top: 50px;
    margin-bottom: 20px;
    background-color: #336fa1;
    width: 550px;
    height: 100px;
    border-radius: 60px;
    align-items: center;
    justify-content: center;
    gap: 40%;
    border: #71b7da 3px solid;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}
.perfil img{
    margin-left: 80px;
    width: 60px;
    height: 60px;
}
.pagamento img{
    width: 60px;
    height: 60px;
}

.perfil:hover{
    transform: scale(1.05);
    transition: 0.5s ease-in-out;
}
.pagamento:hover{
    transform: scale(1.05);
    transition: 0.5s ease-in-out;
}
